@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

a {
  font-family: 'open sans',  'Poppins', sans-serif;
  text-decoration: none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
}

main {
    min-width: 280px;
    max-width: 900px;
    height: 100%;
    background-color: rgb(230, 166, 166);
    margin: auto;
    padding: 30px;      
  
}



.header {
    background: rgb(0, 0, 0);    
    padding-top: 10px;
    color: black;    
    text-align: center;
    width: 100%;
    height: 150px;
    display: block;
    align-items: center;
}

img {
    height: 100%;
    height: 100%;        

}

.content{
    position: absolute;
    top: 40%;
    left: 40%;
}

.content h2{
    text-align: center;
    font-size: 40px;
}

.open{
    position: absolute;
    left: 0;
}

.open span{
    position: absolute;
    top: 20px;
    left: 35px;
    font-size: 30px;
    line-height: 35px;
    padding: 6px 10px;
    color: white;
    background: #333;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar{
    width: 250px;
    position: absolute;
    left: -250px;
    top: 0;
    height: 100%;
    background: #222;
    transition: 0.5s;
}

.sidebar .close span{
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 7px;
    color: white;
    background: #444;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar .title{
    padding-left: 60px;
    font-size: 25px;
    line-height: 60px;
    color: white;
    border-bottom: 2px solid gray;
}

.sidebar .links li{
    list-style: none;
    display: block;
    width: 100%;
    line-height: 60px;
    border-left: 5px solid transparent;
    border-bottom: 2px solid rgb(2, 0, 0);
    cursor: pointer;
}

.sidebar .links li:hover{
    background: #333;
    border-left: 5px solid #daa520;
}

.sidebar .links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    transition: 0.5s;
}

.sidebar .links li:hover a{
    color:  #daa520;
    letter-spacing: 1.2px;
}

.sidebar .links li a i{
    margin-right: 5px;
}

.sidebar .social{
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 20px;
}

.sidebar .social i{
    width: 45px;
    font-size: 25px;
    color: white;
    background: #444;
    padding: 10px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.sidebar .social i:hover{
    background:  #daa520;
    transform: translateY(-10px);
}





/* CARROSSEL*/
.galery {
    width: 850px;
    height: 500px;
    overflow: hidden;
    align-items: center;
    
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
}

@keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}

/*galeria fotos*/
.galeria-fotos {
    --auto-grid-min-size: 16rem;  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    gap: 10px;   
    
    }    
  
  .galeria_img {
    width: 280px;
    height: 350px;
    background-position: 100%;    
    object-fit: cover;
    transition: all 0.3s ease-in-out;  
           
  }
  
  .galeria_img:hover {
  transform: scale(1.05);
  
}

   
  .carrossel {
    width: 900px;
    height: 600px;
    overflow: hidden;
  }
  
  .carrossel .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }


/*servicos*/

article > p {
    font-family: open sans;
    text-align: center;
    color: white;
  }
  
  .auto-grid {
    --auto-grid-min-size: 16rem;  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    gap: 10px;   
    
    }
  
  .wrapper {
    max-width: 65rem;
    margin: 0 auto;
    
  }
   
  .auto-grid  li {
    text-align: center;
    font-size: 1.2rem;
    background: var(--cor3);
    color: #030303;
    list-style: none; 
    
      
  }  

  .auto-grid img {
    transition: all 0.3s ease-in-out;  
    height: 350px;       
  }
  
  .auto-grid img:hover {
  transform: scale(1.05);
  
}


  
  .texto-salao {
    font-family: open sans;
    font-weight:normal;
    font-size: 22px;
    text-align: justify;
    margin-top: 10px;  
  }

  
  .item-servico {
    font-weight: bold;
    font-size: 30px;
    padding-top: 40px;
    font-family: open sans;
    color: #e9b454;
    
  }
  
  .sub-item-servico {
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 20px;
    
  }
  
  .titulo-servico {
    color: rgb(180, 0, 0);
    width: 886px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    font-family: Parisienne; 
  }

/*Botao*/
.conteiner-botao {

    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(119, 117, 5);
    text-decoration: none;
  }
  
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background:  #e9b454;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
      
  }
  
  .glow-on-hover:before {
    content: '';
    background-color: #daa520;
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    
  }
  
  a:link 
  {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    
  }
  
  a:hover {
    color: white;
   }
  
  .glow-on-hover:active {
    color: #000;
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--cor7);
    left: 0;
    top: 0;
    border-radius: 10px;    
    
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
    
  }
  
  
/*fotos-video*/
.container-video {
  display: flex;
  flex-wrap: wrap;
  }

.item {
  flex-grow: 1;
  flex-basis: 300px;
   height: 450px;
  margin: 10px; 
  object-fit: cover     
}


/*fotos-salao*/
.container-fotos {
  display: flex;
  flex-wrap: wrap;
  }

.item {
  flex-grow: 1;
  flex-basis: 300px;
  height: 450px;
  margin: 10px; 
  object-fit: cover     
}

.item img {
  width: 100%;
  height: auto1;
  transition: all 0.3s ease-in-out;
}

.item img:hover {
  transform: scale(1.05);
  
}

/*mapa*/
.google-maps {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


  @media screen and (max-width: 720px) {
    .cards {
      flex-direction: column;
    }
  
    .cards article.card {
      margin-left: 0;
      margin-bottom: 32px;
    }

    .galery {
      width: 100%;
    }
  }

 /* Estilos comuns para os cards */
 .secao4 {
    margin: 0;
    font-family: open sans;
  }
  
  .secao4-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
    gap: 30px;
  }
  
  .secao4-div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 60px);
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
    transition: all 0.5s ease;
  }
  
  .secao4-div-card:hover {
    transform: scale(1.1);
    z-index: 1;
  }
  
  .secao4-div-card img {
    width: 100%;
    height: auto1;
  }
  
  .secao4-div-card h3 {
    margin-bottom: 0px;
  }
  
  .texto {
    font-size: 15px;
    padding: 3%;
  }
  
  /* Estilos para dispositivos móveis */
  @media (max-width: 768px) {
    .secao4-div-card {
        width: 100%;
    }
    
  }
  
  






footer{
    background-color: #000000;
    padding: 50px 0;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;
}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: black;
    background-color: white;
}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: black;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
    }
}